@model IEnumerable<BookAPI.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="vh-100 content-wrapper px-2 px-lg-4">
    <h4 class="p-3 ps-lg-0 fs-4 text-light fw-semibold">Quản lý sách</h4>

    <div class="w-100 d-flex flex-wrap justify-content-between my-4">
        <form method="post" action="@Url.Action("SubmitInputAsync", "QLBook")">
            @Html.AntiForgeryToken()

            <div class="input-group">
                <input type="text" class="flex-1 h-100 form-control form-search-input" name="inputString" placeholder="Nhập tên sách">
                <button type="submit" class="btn btn-primary py-0 fw-medium add-new">Thêm sách</button>
            </div>
        </form>
    </div>


    <div class="card mb-4 w-100">
        <div class="card-header d-flex flex-wrap justify-content-between align-items-center py-3">
            <div class="mb-3 fs-5 fw-medium opacity-75"><i class="fas fa-table me-3"></i>Danh sách sách</div>

            <div class="panigations-box ms-auto">
                <nav>
                    <ul class="pagination m-0">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "QLBook", new { page = ViewBag.CurrentPage - 1 })">&laquo;</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage > 2)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "QLBook", new { page = 1 })">1</a>
                            </li>
                            if (ViewBag.CurrentPage > 3)
                            {
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                            }
                        }

                        @for (int i = ViewBag.CurrentPage - 1; i <= ViewBag.CurrentPage + 1; i++)
                        {
                            if (i > 0 && i <= ViewBag.TotalPages)
                            {
                                if (i == ViewBag.CurrentPage)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "QLBook", new { page = i })">@i</a>
                                    </li>
                                }
                            }
                        }

                        @if (ViewBag.CurrentPage < ViewBag.TotalPages - 1)
                        {
                            if (ViewBag.CurrentPage < ViewBag.TotalPages - 2)
                            {
                                <li class="page-item">
                                    <span class="page-link">...</span>
                                </li>
                            }
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "QLBook", new { page = ViewBag.TotalPages })">@ViewBag.TotalPages</a>
                            </li>
                        }

                        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "QLBook", new { page = ViewBag.CurrentPage + 1 })">&raquo;</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>

        </div>
        <div class="card-body">
            <table id="table-list-books" class="w-100 table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class=""><input type="checkbox" name="table-select-all" id="table-select-all"></th>
                        <th class="col-4">Tên sách</th>
                        <th class="col-2">Tác giả</th>
                        <th class="col-1 text-center">Thể loại</th>
                        <th class="col-1 text-center">Nhà xuất bản</th>
                        <th class="col-1 text-center">Ngày xuất bản</th>
                        <th class="col-1 text-center">Ảnh bìa</th>
                        <th class="col-1 text-center">Chỉnh sửa</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="table-select"></td>
                            <td class="table-title">@item.Title</td>
                            <td class="table-author">
                                @foreach (var author in item.Authors)
                                {
                                    @author.AuthorName<br />
                                }
                            </td>
                            <td class="table-categories text-center ">
                                @foreach (var category in item.Categories)
                                {
                                    @category.CategoryName<br />
                                }
                            </td>
                            <td class="table-publisher text-center ">@item.Publisher.PublisherName</td>
                            <td class="table-publisheddate text-center ">@item.PublishedDate</td>
                            <td class="table-image text-center ">
                                <img src="@item.CoverImage" alt="@item.Title Cover Image" class="img-fluid" />
                            </td>
                            <td>
                                <div class="w-100 h-100 d-flex justify-content-evenly">
                                    <a href="@Url.Action("EditBook", "QLBook", new {idbook = item.ID })" class="flex-fill edit-book"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="@Url.Action("DeleteBook", "QLBook", new {id = item.ID })" class="flex-fill delete-book"><i class="fa-regular fa-trash-can"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>