@model BookAPI.Models.User

@{
    ViewBag.Title = "Edit User Status";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Edit User Status</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit User</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatables-nhanvien" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Mã Người Dùng</th>
                                <th>Username</th>
                                <th>Tên Khách Hàng</th>
                                <th>Giới Tính</th>
                                <th>Phần quyền</th>
                                <th>Trạng Thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd">
                                <td>@Model.UserID</td>
                                <td>@Model.Username</td>
                                <td>@Model.FullName</td>
                                <td>@Model.Gender</td>
                                <td>
                                    <div class="form-group">
                                        <select id="roleDropdown" class="form-control">
                                            <option value="Admin" @(Model.Role == "Admin" ? "selected" : "")>MANAGER</option>
                                            <option value="User" @(Model.Role == "User" ? "selected" : "")>USER</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select id="statusDropdown" class="form-control">
                                            <option value="1" @(Model.Status == 1 ? "selected" : "")>Đã kích hoạt</option>
                                            <option value="0" @(Model.Status == 0 ? "selected" : "")>Chưa kích hoạt</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <a id="saveUserButton" href="#" class="btn btn-default">Lưu</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#saveUserButton').click(function () {
            var role = $('#roleDropdown').val();
            var status = $('#statusDropdown').val();
            var useid = '@Model.UserID';

            var url = '@Url.Action("Edit", "QLUser")' + '?useid=' + useid + '&role=' + role + '&status=' + status;
            window.location.href = url;
        });
    });
</script>
